.card-image {
  padding: 0.25em;
  border: 3px lightgrey solid;
  border-radius: 10px;
  margin: 0.5em;
  height: 13em;
}

#main {
  padding: 2em;
}

#header {
  text-align: center;
  margin-top: 1em;
  font-size: 2.5em;
}